<div class="col-xs-6">
  <%= form_tag(potepan_category_path(params[:id]), method: :get) do %>
    <%= select_tag 'order', options_for_select(Spree::Product.order_option_hash, selected: params[:order] || 'newest'), { class: "select-drop", onChange: "this.form.submit()" } %>
    <%= hidden_field_tag :layout, params[:layout]  if params[:layout] %>
    <%= hidden_field_tag :color, params[:color] if params[:color] %>
  <% end %>
</div>