<% if params[:layout] == "list" %>
  <div class="col-xs-12">
    <div class="media">
      <div class="media-left">
        <%= image_tag(product.images.first.attachment(:product), :class => "media-object", :alt => "Image") %>
        <span class="maskingImage">
          <a data-toggle="modal" href=".quick-view" class="btn viewBtn">Quick View</a>
        </span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to potepan_product_path(product.kind_of?(Spree::Variant) ? product.product_id : product.id) do %>
            <h5><%= product.name %></h5>
          <% end %>
        </h4>
        <p><%= product.description %></p>
        <h3><%= product.display_price %></h3>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target=".login-modal">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default" onclick="location.href='cart-page.html';">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="col-sm-4 col-xs-12">
    <div class="productBox">
      <div class="productImage clearfix">
        <%= image_tag(product.images.first.attachment(:product), :alt => "products-img") %>
        <div class="productMasking">
          <ul class="list-inline btn-group" role="group">
            <li>
              <a data-toggle="modal" href=".login-modal" class="btn btn-default">
                <i class="fa fa-heart"></i>
              </a>
            </li>
            <li>
              <a href="cart_page.html" class="btn btn-default">
                <i class="fa fa-shopping-cart"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-default" data-toggle="modal" href=".quick-view">
                <i class="fa fa-eye"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="productCaption clearfix">
        <%= link_to potepan_product_path(product.kind_of?(Spree::Variant) ? product.product_id : product.id) do %>
          <h5><%= product.name %></h5>
        <% end %>
        <h3><%= product.display_price %></h3>
      </div>
    </div>
  </div>
<% end %>
