<div class="col-md-3 col-sm-4 col-xs-12 sideBar">
  <%= render 'potepan/categories/filter/category_filter' %>
  <%= render 'potepan/categories/filter/price_filter' %>
  <%= render 'potepan/categories/filter/color_filter' %>
  <%= render 'potepan/categories/filter/size_filter' %>
</div>
