<% provide(:title, cover_all_title(@taxon.name, params[:color])) %>
<%= render 'potepan/shared/light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar' %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render 'order_pulldown' %>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default <%= !params.key?(:layout) || params[:layout] == "grid" ? "active" : ''%>" onclick= "window.location.href= '<%= potepan_category_path(params[:id], layout: "grid", color: params[:color], order: params[:order])%>'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
              <button type="button" class="btn btn-default <%=  params[:layout] == "list" ? "active" : ''%>" onclick="window.location.href= '<%= potepan_category_path(params[:id], layout: "list", color: params[:color], order: params[:order])%>'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
            </div>
          </div>
        </div>
        <div class="row <%= params[:layout] == "list" ? "productListSingle" : "" %>">
          <%= render partial: 'potepan/categories/product', collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/partners_logo_slider'%>