<% if @color_option_values.any? %>
<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
    <% @color_option_values.each do |color| %>
      <li>
        <%= link_to potepan_category_path(params[:id], color: "#{color.name}") do %>
          <%= color.name %>
          <span>(<%= @same_taxon_products.has_option_value(color).count %>)</span>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>